.button-heart-movie {
  border: 1px solid var(--text-color-primary);
  border-radius: 14px;
  width: 54px;
  height: 54px;
  background: var(--background-linear-button);
}

.button-heart-card {
  position: absolute;
  z-index: var(--button-on-the-card);
  top: 20px;
  right: 20px;
  border: 1px solid var(--text-color-primary);
  border-radius: 9px;
  width: 32px;
  height: 32px;
  padding: 8px;
  background: var(--background-linear-button);
}

.button-heart-movie:hover,
.button-heart-card:hover {
  border: 1px solid var(--background-color-primary);
}

.button-watch-movie,
.button-submit {
  display: inline-flex;
  align-items: flex-start;
  margin-right: 16px;
  border: 1px solid var(--background-color-primary);
  border-radius: 14px;
  padding: 16px 23px;
  background: var(--background-color-primary);
}

.button-watch-movie:hover,
.button-submit:hover {
  font-weight: var(--font-weight-bold);
  border: 1px solid var(--text-color-primary);
}

.button-cancel {
  display: inline-flex;
  align-items: flex-start;
  margin-right: 16px;
  border: 1px solid var(--text-color-primary);
  border-radius: 14px;
  padding: 16px 23px;
  background: var(--background-linear-cancel);
}

.button-cancel:hover {
  border: 1px solid var(--background-color-secondary);
  font-weight: var(--font-weight-bold);
}
