.button-heart-movie {
  border: 1px solid var(--text-color-primary);
  border-radius: 14px;
  width: 54px;
  height: 54px;
  background: linear-gradient(
    99deg,
    var(--text-color-primary) 3.36%,
    rgba(255, 255, 255, 0) 238.16%
  );
}

.button-heart-movie:hover {
  border: 1px solid var(--background-color-primary);
}

.button-heart-card {
  position: absolute;
  top: 20px;
  right: 20px;
  border: 1px solid var(--text-color-primary);
  border-radius: 9px;
  width: 32px;
  height: 32px;
  padding: 8px;
  background: linear-gradient(
    99deg,
    var(--text-color-primary) 3.36%,
    rgba(255, 255, 255, 0) 238.16%
  );
}

.button-heart-card:hover {
  border: 1px solid var(--background-color-primary);
}

.button-watch-movie {
  display: inline-flex;
  align-items: flex-start;
  margin-right: 16px;
  border: 1px solid var(--background-color-primary);
  border-radius: 14px;
  padding: 16px 23px;
  background: var(--background-color-primary);

  /* text in button */
  font-size: var(--font-size-md);
  line-height: 20px;
  font-family: var(--primary-medium-font);
  font-weight: 500;
  font-style: normal;
  color: var(--text-color-primary);
}

.button-watch-movie:hover {
  font-weight: 700;
}

.button-back {
  display: inline-flex;
  border: 3px solid rgba(245, 245, 245, 0.9);
  border-radius: 6.4px;
  padding: 17px;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.5) -9.39%,
    rgba(255, 255, 255, 0.4) 106.21%
  );
}
