.card-trending {
  position: relative;
  border: 1px solid var(--border-color-primary);
  border-radius: 20px;
}

.card-img {
  border-radius: 20px;
  height: 100%;
  object-fit: cover;
}

.card-img img {
  border-radius: 20px;
  height: 100%;
  width: 100%;
}

.card-img:hover {
  opacity: 0.8;
}

.card-content {
  position: absolute;
  bottom: 0;
  opacity: 0.95;
  border-radius: 0 0 20px 20px;
  width: 100%;
  min-height: 86px;
  background: linear-gradient(100.38deg, #ffffff 12.94%, rgba(255, 255, 255, 0) 159.1%);
}

.card-content .text {
  margin: 16px auto auto 20px;
  font-weight: 600;
  color: var(--text-color-secondary);
}

.card-content .text-sub-title {
  margin: 6px auto 24px 20px;
  color: var(--text-color-secondary);
}

.card-continue-watching {
  position: relative;
  border: 1px solid var(--border-color-primary);
  border-radius: 20px;
  width: auto;
  object-fit: cover;
}

.card-favourites {
  position: relative;
  border: 1px solid var(--border-color-primary);
  border-radius: 20px;
  object-fit: contain;
}

.card-continue-watching img,
.card-favourites img {
  object-fit: cover;
}

.card-loading {
  opacity: 0.8;
}

.card-loading .button-heart-card {
  pointer-events: none;
}

.card-loading .loader {
  display: inline;
}
