.card-details {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 24px;
  margin: 56px 42px 60px 32px;
  min-height: 430px;
}

.card-details-cover-image {
  margin-right: 24px;
  border: 1px solid var(--border-color-primary);
  border-radius: 20px;
  max-height: 429px;
  width: 100%;
  cursor: pointer;
  object-fit: cover;
}

.card-details-information {
  width: 100%;
}

.card-details-title-rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.card-details-title {
  font-size: var(--font-size-3xl);
  line-height: 40px;
  font-family: var(--primary-font);
  font-weight: var(--font-weight-medium);
  color: var(--text-color-primary);
}

.card-details-rating {
  display: flex;
  align-items: center;
}

.card-details-information .text-card:not(:last-child) {
  margin-right: 36px;
}

.card-details-information .text {
  margin-top: 21px;
  font-weight: var(--font-weight-light);
  color: var(--text-color-primary);
}

.card-details-actions {
  display: flex;
  align-items: center;
  margin-top: 26px;
}

.card-details-loading button {
  pointer-events: none;
}
