.grid-content-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}

.grid-filter-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;
}

.grid-card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 24px;
}
