.icon-button-card {
  width: 15px;
  height: 15px;
}

.icon-navbar-action {
  margin-right: 24px;
  width: 24px;
  height: 24px;
}

.icon-sidebar-logo {
  margin-bottom: 58px;
  width: 131px;
  height: 32px;
}

.icon-sidebar-action {
  margin-right: 12px;
}

.icon-card-details-rating {
  margin-right: 8px;
}
