.icon-button-card {
  width: 15px;
  height: 15px;
}

.icon-navbar-action {
  margin-right: 24px;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.icon-navbar-action:hover {
  margin-right: 21px;
  width: 27px;
  height: 27px;
}

.icon-sidebar-logo {
  width: 131px;
  height: 32px;
}

.icon-sidebar-action {
  margin-right: 12px;
}

.icon-card-details-rating {
  margin-right: 8px;
}
