.form-control {
  margin-bottom: 32px;
}

.form-input-text {
  outline: none;
  margin-top: 10px;
  border: 1px solid var(--text-color-secondary);
  border-radius: 20px;
  width: calc(100% - 32px);
  padding: 16px;
  font-size: var(--font-size-sm);
  font-family: var(--primary-font);
  font-weight: var(--font-weight-light);
  color: var(--text-color-secondary);
}

.form-input-other {
  outline: none;
  margin-top: 10px;
  border: 1px solid var(--text-color-secondary);
  border-radius: 20px;
  width: 100%;
  padding: 16px;
  font-size: var(--font-size-sm);
  font-family: var(--primary-font);
  font-weight: var(--font-weight-light);
  color: var(--text-color-secondary);
}

.form-input-file {
  width: 100%;
  padding: 0 16px;
  font-size: var(--font-size-sm);
  font-family: var(--primary-font);
  font-weight: var(--font-weight-light);
  color: var(--text-color-primary);
}

.form-input::placeholder {
  color: var(--text-color-secondary);
}

.form-input-required {
  color: var(--text-color-error);
}

.form-label {
  font-size: var(--font-size-sm);
  font-family: var(--primary-font);
  font-weight: var(--font-weight-medium);
  color: var(--text-color-primary);
}

.input-error {
  margin: 4px 14px 0;
  font-size: 12px;
  color: var(--text-color-error);
}
