.sidebar {
  display: flex;
  flex-direction: column;
  min-width: 194px;
  padding: 40px;
  background-color: var(--background-color-secondary);
  box-shadow: 30px 0px 60px 0px #6100c266;
}

.sidebar::after {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  opacity: 0.9;
  width: 50%;
  height: 100%;
  background-color: var(--background-color-tertiary);
}

.sidebar-logo {
  margin-bottom: 58px;
}

.sidebar-actions .text {
  display: flex;
  align-items: center;
  opacity: 0.8;
  margin-bottom: 35px;
  font-weight: 400;
  color: var(--text-color-primary);
}

.sidebar-actions .text:hover {
  opacity: 1;
  font-family: var(--primary-medium-font);
  font-weight: 700;
}

.sidebar-pages,
.sidebar-information,
.sidebar-actions {
  display: flex;
  flex-direction: column;
}

.sidebar-pages {
  margin-bottom: 85px;
}

.sidebar-pages li:last-child a {
  cursor: not-allowed;
}

.sidebar-information {
  margin-bottom: 220px;
}

.sidebar-information .text {
  cursor: not-allowed;
}

.sidebar-account .text {
  cursor: not-allowed;
}

.sidebar-actions .sidebar-active {
  opacity: 1;
  font-weight: 700;
  font-family: var(--primary-medium-font);
}
