.text {
  font-size: var(--font-size-md);
  line-height: 24px;
  font-family: var(--primary-font);
  text-align: left;
}

.text-sub-title {
  font-size: var(--font-size-sm);
  font-family: var(--primary-font);
  font-weight: var(--font-weight-light);
  text-align: left;
}

.text-title-section {
  font-size: var(--font-size-2xl);
  line-height: 30px;
  font-family: var(--primary-font);
  font-weight: var(--font-weight-medium);
  text-align: left;
  color: var(--text-color-primary);
}

.text-card {
  font-size: var(--font-size-xl);
  line-height: 24px;
  font-family: var(--primary-font);
  font-weight: var(--font-weight-regular);
  text-align: left;
  color: var(--text-color-primary);
}

.text-empty {
  display: none;
  margin-top: 65px;
  text-align: center;
}

.text-button {
  font-size: var(--font-size-md);
  line-height: 20px;
  font-family: var(--primary-font);
  font-weight: var(--font-weight-regular);
  font-style: normal;
  color: var(--text-color-primary);
}
