.form-movie {
  backdrop-filter: blur(8px);
  position: absolute;
  z-index: var(--background-form);
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
}

.movie-form-container {
  position: fixed;
  z-index: var(--form-container);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: auto;
  border: 1px solid var(--border-color-primary);
  border-radius: 20px;
  max-width: 600px;
  height: 65vh;
  max-height: 800px;
  padding: 50px;
  background-color: var(--background-color-tertiary);
}

.movie-form-container::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.movie-form-container::-webkit-scrollbar-thumb {
  background: transparent;
}

.movie-form-container .text-title-section {
  text-align: center;
}

.movie-form {
  position: relative;
  margin: 0 auto;
  width: 480px;
  padding: 16px 0;
}

.movie-form-title {
  padding-bottom: 20px;
  font-size: var(--font-size-4xl);
  text-align: center;
  text-transform: uppercase;
}

.form-control-movie {
  width: 100%;
  margin-bottom: 22px;
}

.movie-member-input {
  height: 70px;
}

.movie-description-input {
  height: 128px;
}

.movie-file-input {
  display: block;
  border: none;
  width: fit-content;
  padding: 14px 0 0;
}

.form-control-file {
  margin-bottom: 18px;
}

.file-preview {
  display: none;
  margin-bottom: 22px;
  width: auto;
  height: 100px;
}

.movie-form-actions {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.card-loading .movie-form-actions button {
  pointer-events: none;
}

.display-block {
  display: block;
}
