.cover-movie {
  height: 455px;
  background-image: url('../../images/bgr-cover-movie.png');
  background-position: center;
  background-size: cover;
}

.cover-movie-container {
  margin: 0 42px auto 32px;
}

.cover-movie-actions button {
  cursor: not-allowed;
}

.cover-movie .navbar {
  padding-top: 47px;
}

.cover-movie-title {
  margin-top: 152px;
  font-size: var(--font-size-4xl);
  font-family: var(--primary-font);
  font-weight: var(--font-weight-medium);
  line-height: 48px;
  text-align: left;
  color: var(--text-color-primary);
}

.cover-movie .text-sub-title {
  margin-top: 20px;
  line-height: 20px;
  color: var(--text-color-primary);
}

.cover-movie-actions {
  display: flex;
  align-items: center;
  margin-top: 36px;
}

.trending-movie {
  margin: 6px 42px 0 32px;
}

.trending-movie-wrapper {
  position: relative;
  margin-top: 16px;
  min-height: 100px;
}

.trending-movie-wrapper img {
  max-height: 302px;
}

.continue-watching {
  position: relative;
  margin: 32px 42px 32px 32px;
  min-height: 100px;
}

.continue-watching-wrapper {
  margin-top: 16px;
}

.continue-watching-wrapper figure {
  max-height: 207px;
}

.create-movie {
  cursor: pointer;
}

.create-movie:hover {
  width: 20px;
  height: 20px;
}
