.trending-navbar .navbar {
  margin: 47px 42px auto 32px;
}

.trending-now {
  margin: 56px 42px auto 32px;
}

.trending-now-after-loading .card-trending {
  opacity: 0.3;
}

.trending-now-after-loading .card-being-displayed {
  opacity: 1;
}

.trending-now-after-loading .card-being-displayed .button-heart-card {
  pointer-events: unset;
}

.trending-now-after-loading .card-loading {
  opacity: 0.8;
}

.trending-now-after-loading .button-heart-card,
.trending-now-after-loading .card-being-displayed .card-img,
.trending-now-after-loading .card-loading .button-heart-card,
.trending-now-loading .button-heart-card,
.trending-now-loading .card-img {
  pointer-events: none;
}
