@font-face {
  font-family: Poppins;
  src:
    url('../../fonts/Poppins.ttf') format('truetype'),
    url('../../fonts/Poppins.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: Poppins-Medium;
  src:
    url('../../fonts/Poppins-Medium.ttf') format('truetype'),
    url('../../fonts/Poppins-Medium.woff2') format('woff2');
  font-display: swap;
}
