html {
  font-size: var(--font-size-md);
}

a {
  text-decoration: none;
}

a,
picture {
  display: inline-block;
}

body {
  position: relative;
  height: 100vh;
}

main {
  overflow: auto;
  width: 100%;
}

main::after {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  opacity: 0.9;
  width: 50%;
  height: 100%;
  background-color: var(--background-color-tertiary);
}

main::-webkit-scrollbar {
  width: 0;
  height: 0;
}

main::-webkit-scrollbar-thumb {
  background: transparent;
}

.container {
  display: flex;
  overflow: hidden;
  margin: auto;
  max-width: 1440px;
  height: 100%;
  background-color: rgba(34, 31, 29, 255);
}

button {
  cursor: pointer;
}
