:root {
  /* all color in page */
  --background-color-primary: #6100c2;
  --background-color-secondary: #21201e;
  --text-color-primary: #ffffff;
  --text-color-secondary: #000000;

  /* font family */
  --primary-font: Poppins;
  --primary-medium-font: Poppins-Medium;

  /* font size */
  --font-size-sm: 14px;
  --font-size-md: 16px;
  --font-size-xl: 18px;
  --font-size-2xl: 20px;
  --font-size-3xl: 32px;
  --font-size-4xl: 48px;
}
