:root {
  /* all color in page */
  --purple-color: #6100c2;
  --pink-color: #7900c2;
  --dark-color: #21201e;
  --glass-color: #f5f5f5e5, #ffffff80;
  --gray-color: #969696;
  --white-color: #ffffff;

  /* font family */
  --primary-font: Poppins;
  --primary-medium-font: Poppins-Medium;

  /* font weight */
  --text-font-weight: 400;
  --regular-font-weight: 500;
  --title-font-weight: 600;
  --bold-font-weight: 700;
}
